.wrapper footer {
  background-color: black;
  padding: 70px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 85px;
}

.wrapper footer a {
  text-decoration: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.wrapper footer a img {
  width: 65px;
}

.wrapper footer a h5 {
  color: white;
  margin: 0;
  font-size: 20px;
  text-shadow: 1px 1px 1px #9d0c25;
  font-family: 'Merriweather';
}


